# FIDO2 / PASSKEYS
FIDO2_SERVER_DOMAIN=
FIDO2_SERVER_NAME=
FIDO2_ORIGIN_0=

# TWILIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE_NUMBER=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
SMTP_USE_SSL=

# SQL SERVER
MSSQL_SA_PASSWORD=
MSSQL_PORT=1430
DB_NAME=OAuthServerV2

# TOKEN / AUTH
TOKEN_SECURITY_KEY=
TOKEN_ISSUER=www.authserverv2.com
TOKEN_AUDIENCE_0=www.authserverv2.com
TOKEN_AUDIENCE_1=www.DigitalReceiptApp.com

# CLIENTS
CLIENT_MOBILE_ID=MobileApp
CLIENT_MOBILE_SECRET=
CLIENT_MOBILE_AUDIENCE=www.authserverv2.com

# GOOGLE AUTHENTICATION
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

# GCP SECRET MANAGER
GCP_PROJECT_ID=
GCP_CREDENTIAL_BASE64=

# GOOGLE CLOUD STORAGE
GCS_BUCKET_NAME=

# STORAGE
STORAGE_TYPE=GoogleCloud
STORAGE_ENABLE=true

# OPENTELEMETRY
OTEL_ENABLED=true
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

# ALLOWED REDIRECT URLS
ALLOWED_REDIRECT_URI_0=
ALLOWED_REDIRECT_URI_1=

# CORS - ALLOWED ORIGINS
ALLOWED_ORIGIN_0=
ALLOWED_ORIGIN_1=

# PORTS
API_PORT=44343